@import '~piecewisecss';

#Footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  .trackInfo {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: calc(100% - 40px);
    overflow: hidden;
    .albumArt {
      width: 40px;
      height: 40px;
      border: 1px solid grey;
      border-radius: 8px;
      background-size: cover !important;
      flex-shrink: 0;
    }
    .trackTitle {
      margin-left: 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex-shrink: 1;
      max-width: calc(100% - 40px);
    }
  }
  .controls {
    font-size: 14px;
    color: black;
    display: flex;
    align-items: center;
    background: white;
    position: absolute;
    right: 5px;
    padding: 5px;
    > div {
      cursor: pointer;
      @include noSelect();
      transition: 75ms ease;
      &:active {
        transform: translateY(2px);
      }
    }
    .playPause {
      font-size: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      font-weight: bold;
    }
  }
}
